In [1]:
# This project creates a database from the BBC's 21st Century greatest films

In [2]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize

In [3]:
response = requests.get('http://floatingmedia.com/columbia/BBC.html')
doc = BeautifulSoup(response.text)

In [4]:
all_info = doc.find('div', class_='body-content')

In [5]:
all_p = doc.find_all('p')
for item in all_p:
    if 'strong' in str(item):
        critic_info = item.text
        movie_info = item.next_sibling

In [6]:
all_p = doc.find_all('p')
for item in all_p:
    if 'strong' in str(item):
        try:
            critic_info = item.text
            regex_for_name = re.findall(r"(.*) –", critic_info)[0]
            regex_for_org = re.findall(r"–\s(.*)\s\(", critic_info)[0]
            regex_for_cn = re.findall(r"\((.*)\)", critic_info)[0]
        except:
            print(critic_info)

More on BBC Culture’s 100 greatest films of the 21st Century:The list in full: The 100 greatest films since 2000Surprising facts from the 100 greatest films of the 21st CenturyWhat the critics had to say about the top 25Why Mulholland Drive is number oneAre we living in a golden age of film?

In [7]:
best_movies = []
all_p = doc.find_all('p')
for item in all_p:
    if 'strong' in str(item):
        movie_info = item.next_sibling
        each_movie = movie_info.find_all(string=True)
        for movie in each_movie:
            try:
                movie_rank = re.findall(r"^(\d0?)\.", movie)[0]
                movie_name = re.findall(r"^\d0?.(.*)\(", movie)[0]
                movie_director = re.findall(r"\((.*),", movie)[0]
                movie_year = re.findall(r",\s(\d{4})\)",movie)[0]
            except:
                print(movie_info)

<p><em>If you would like to comment on this story or anything else you have seen on BBC Culture, head over to our <a href="https://www.facebook.com/BBCCulture/" target="_blank">Facebook</a> page or message us on <a href="https://twitter.com/BBC_Culture" target="_blank">Twitter</a>.</em></p>
<p><em>If you would like to comment on this story or anything else you have seen on BBC Culture, head over to our <a href="https://www.facebook.com/BBCCulture/" target="_blank">Facebook</a> page or message us on <a href="https://twitter.com/BBC_Culture" target="_blank">Twitter</a>.</em></p>
<p><em>If you would like to comment on this story or anything else you have seen on BBC Culture, head over to our <a href="https://www.facebook.com/BBCCulture/" target="_blank">Facebook</a> page or message us on <a href="https://twitter.com/BBC_Culture" target="_blank">Twitter</a>.</em></p>
<p><em>If you would like to comment on this story or anything else you have seen on BBC Culture, head over to our <a href="https://www.facebook.com/BBCCulture/" target="_blank">Facebook</a> page or message us on <a href="https://twitter.com/BBC_Culture" target="_blank">Twitter</a>.</em></p>
<p><em>If you would like to comment on this story or anything else you have seen on BBC Culture, head over to our <a href="https://www.facebook.com/BBCCulture/" target="_blank">Facebook</a> page or message us on <a href="https://twitter.com/BBC_Culture" target="_blank">Twitter</a>.</em></p>

In [8]:
best_movies = []
all_p = doc.find_all('p')
for item in all_p:
    if 'strong' in str(item):
        critic_info = item.text
        movie_info = item.next_sibling
        each_movie = movie_info.find_all(string=True)
        for movie in each_movie:
            movies = {}
            try:
                movies['regex_for_name'] = re.findall(r"(.*) –", critic_info)[0]
                movies['regex_for_org'] = re.findall(r"–\s(.*)\s\(", critic_info)[0]
                movies['regex_for_cn'] = re.findall(r"\((.*)\)", critic_info)[0]
                movies['movie_rank'] = re.findall(r"^(\d0?)\.", movie)[0]
                movies['movie_name'] = re.findall(r"^\d0?.(.*)\(", movie)[0]
                movies['movie_director'] = re.findall(r"\((.*),", movie)[0]
                movies['movie_year'] = re.findall(r",\s(\d{4})\)",movie)[0]
                best_movies.append(movies)
            except:
                print(critic_info)

More on BBC Culture’s 100 greatest films of the 21st Century:The list in full: The 100 greatest films since 2000Surprising facts from the 100 greatest films of the 21st CenturyWhat the critics had to say about the top 25Why Mulholland Drive is number oneAre we living in a golden age of film?
More on BBC Culture’s 100 greatest films of the 21st Century:The list in full: The 100 greatest films since 2000Surprising facts from the 100 greatest films of the 21st CenturyWhat the critics had to say about the top 25Why Mulholland Drive is number oneAre we living in a golden age of film?
More on BBC Culture’s 100 greatest films of the 21st Century:The list in full: The 100 greatest films since 2000Surprising facts from the 100 greatest films of the 21st CenturyWhat the critics had to say about the top 25Why Mulholland Drive is number oneAre we living in a golden age of film?
More on BBC Culture’s 100 greatest films of the 21st Century:The list in full: The 100 greatest films since 2000Surprising facts from the 100 greatest films of the 21st CenturyWhat the critics had to say about the top 25Why Mulholland Drive is number oneAre we living in a golden age of film?
More on BBC Culture’s 100 greatest films of the 21st Century:The list in full: The 100 greatest films since 2000Surprising facts from the 100 greatest films of the 21st CenturyWhat the critics had to say about the top 25Why Mulholland Drive is number oneAre we living in a golden age of film?

In [9]:
df = pd.DataFrame(best_movies)
df.head()

,movie_director,movie_name,movie_rank,movie_year,regex_for_cn,regex_for_name,regex_for_org
0,David Lynch,Mulholland Drive,1,2001,US,Simon Abrams,Freelance film critic
1,Wong Kar-wai,In the Mood for Love,2,2000,US,Simon Abrams,Freelance film critic
2,Terrence Malick,The Tree of Life,3,2011,US,Simon Abrams,Freelance film critic
3,Edward Yang,Yi Yi: A One and a Two,4,2000,US,Simon Abrams,Freelance film critic
4,Jean-Luc Godard,Goodbye to Language,5,2014,US,Simon Abrams,Freelance film critic

In [10]:
df.columns = ['director', 'movie', 'rank', 'year', 'critic_cn', 'critic', 'critic_org']

In [11]:
df.to_csv('BBC_greatest_films.csv', index=False)

In [12]:
df = pd.read_csv('BBC_greatest_films.csv')
df.tail()

,director,movie,rank,year,critic_cn,critic,critic_org
1765,Florian Henckel von Donnersmarck,The Lives of Others,6,2006,China,Raymond Zhou,China Daily
1766,Jia Zhangke,Still Life,7,2006,China,Raymond Zhou,China Daily
1767,Alejandro González Iñárritu,Birdman,8,2014,China,Raymond Zhou,China Daily
1768,Andrew Lau and Alan Mak,Infernal Affairs,9,2002,China,Raymond Zhou,China Daily
1769,Fernando Meirelles and Kátia Lund,City of God,10,2002,China,Raymond Zhou,China Daily

In [13]:
# how many movies are the list?

df.groupby('movie')['movie'].nunique().sum()

598

In [14]:
# top 10 film directors with most total votes
df.director.value_counts().head(10)

Paul Thomas Anderson    52
Joel and Ethan Coen     52
Wong Kar-wai            51
David Lynch             48
Richard Linklater       39
Hayao Miyazaki          35
Michael Haneke          35
Terrence Malick         32
David Fincher           31
Asghar Farhadi          31
Name: director, dtype: int64

In [15]:
# 10 film directors with least votes
df.director.value_counts().tail(10)

Kleber Mendonça Filho            1
Pietro Marcello                  1
Scandar Copti and Yaron Shani    1
Frederick Wiseman                1
George Lucas                     1
Tom Ford                         1
Céline Sciamma                   1
Sidney Lumet                     1
Steven Knight                    1
Warwick Thornton                 1
Name: director, dtype: int64

In [16]:
# top 10 films with most votes 

df.movie.value_counts().head(10)

 In the Mood for Love                      49
 Mulholland Drive                          47
 There Will Be Blood                       35
 Spirited Away                             34
 Boyhood                                   30
 Eternal Sunshine of the Spotless Mind     29
 A Separation                              28
 The Tree of Life                          23
 Yi Yi: A One and a Two                    22
 No Country For Old Men                    21
Name: movie, dtype: int64

In [17]:
# 10 films with least votes 

df.movie.value_counts().tail(10)

 Evolution of a Filipino Family     1
 LSD: Love, Sex Aur Dhokha          1
 Sita Sings the Blues               1
 This Is the End                    1
 The Holy Girl                      1
 Samson & Delilah                   1
 The Skin I Live In                 1
 The Future                         1
 The Band’s Visit                   1
 The Clock                          1
Name: movie, dtype: int64

In [18]:
# film directors with most total films
df.groupby('director')['movie'].nunique().sort_values(ascending=False).head()

director
Quentin Tarantino    6
Clint Eastwood       5
Nuri Bilge Ceylan    5
Tsai Ming-liang      5
Lars von Trier       4
Name: movie, dtype: int64

In [19]:
# years with most films 

df.groupby('year')['movie'].nunique().sort_values(ascending=False).head()

year
2002    44
2012    43
2014    42
2010    41
2000    40
Name: movie, dtype: int64

In [20]:
# top 10 countries by critics 

df.groupby('critic_cn')['critic'].nunique().sort_values(ascending=False).head(10)

critic_cn
US           82
UK           18
Canada        5
Cuba          5
France        5
Germany       5
India         5
Italy         4
Australia     4
Colombia      4
Name: critic, dtype: int64

In [21]:
# lowest represented countries by critics 

df.groupby('critic_cn')['critic'].nunique().sort_values(ascending=False).tail(10)

critic_cn
Japan           1
China           1
Senegal         1
Taiwan          1
Switzerland     1
Egypt           1
Namibia         1
South Africa    1
Hong Kong       1
Philippines     1
Name: critic, dtype: int64

In [22]:
# mapping the countries of the critics with their total votes
df1 = df.groupby('critic_cn')['movie'].value_counts().reset_index(name='count')
df1.head()

   critic_cn                    movie  count
0  Argentina           Spirited Away       2
1  Argentina           Adventureland       1
2  Argentina                 Boyhood       1
3  Argentina                Elephant       1
4  Argentina   Extraordinary Stories       1

In [23]:
df1["string"] = df1["movie"] + ": " + df1["count"].map(str) + np.where(df1["count"]>1, ' votes', ' vote')
df1.head()

   critic_cn                    movie  count                           string
0  Argentina           Spirited Away       2          Spirited Away : 2 votes
1  Argentina           Adventureland       1           Adventureland : 1 vote
2  Argentina                 Boyhood       1                 Boyhood : 1 vote
3  Argentina                Elephant       1                Elephant : 1 vote
4  Argentina   Extraordinary Stories       1   Extraordinary Stories : 1 vote

In [24]:
output = df1.groupby('critic_cn')['string'].apply(lambda x: "<div id='movie'><P>%s</P></div>" % '</p><p> '.join(x)).reset_index(name='properties.article')
output.head()

    critic_cn                                 properties.article
0   Argentina  <div id='movie'><P> Spirited Away : 2 votes</p...
1   Australia  <div id='movie'><P> A Separation : 2 votes</p>...
2     Austria  <div id='movie'><P> Platform : 2 votes</p><p> ...
3  Bangladesh  <div id='movie'><P> A Separation : 1 vote</p><...
4     Belgium  <div id='movie'><P> Amores Perros : 1 vote</p>...

In [25]:
critics = df.groupby('critic_cn')['critic'].nunique().reset_index(name='properties.headline')
output = output.merge(critics, how='left', on='critic_cn')
output.head()

,critic_cn,properties.article,properties.headline
0,Argentina,<div id='movie'><P> Spirited Away : 2 votes</p...,2
1,Australia,<div id='movie'><P> A Separation : 2 votes</p>...,4
2,Austria,<div id='movie'><P> Platform : 2 votes</p><p> ...,2
3,Bangladesh,<div id='movie'><P> A Separation : 1 vote</p><...,1
4,Belgium,<div id='movie'><P> Amores Perros : 1 vote</p>...,1

In [26]:
output['properties.headline'] = output['properties.headline'].map(str) + " critic"
output.head()

,critic_cn,properties.article,properties.headline
0,Argentina,<div id='movie'><P> Spirited Away : 2 votes</p...,2 critic
1,Australia,<div id='movie'><P> A Separation : 2 votes</p>...,4 critic
2,Austria,<div id='movie'><P> Platform : 2 votes</p><p> ...,2 critic
3,Bangladesh,<div id='movie'><P> A Separation : 1 vote</p><...,1 critic
4,Belgium,<div id='movie'><P> Amores Perros : 1 vote</p>...,1 critic

In [27]:
output['properties.color'] = "#000066"
output.head()

,critic_cn,properties.article,properties.headline,properties.color
0,Argentina,<div id='movie'><P> Spirited Away : 2 votes</p...,2 critic,#000066
1,Australia,<div id='movie'><P> A Separation : 2 votes</p>...,4 critic,#000066
2,Austria,<div id='movie'><P> Platform : 2 votes</p><p> ...,2 critic,#000066
3,Bangladesh,<div id='movie'><P> A Separation : 1 vote</p><...,1 critic,#000066
4,Belgium,<div id='movie'><P> Amores Perros : 1 vote</p>...,1 critic,#000066

In [28]:
with open('country_shapes.json') as json_data:
    geometry_data = json.load(json_data)

In [29]:
df2 = pd.DataFrame.from_dict(json_normalize(geometry_data['features']), orient='columns')
df2.head()

,geometry.coordinates,geometry.type,properties.abbrev,properties.abbrev_len,properties.adm0_a3,properties.adm0_a3_is,properties.adm0_a3_un,properties.adm0_a3_us,properties.adm0_a3_wb,properties.adm0_dif,...,properties.subregion,properties.subunit,properties.tiny,properties.type,properties.un_a3,properties.wb_a2,properties.wb_a3,properties.wikipedia,properties.woe_id,type
0,"[[[[-77.53466, 23.75975], [-77.78, 23.71], [-7...",MultiPolygon,Bhs.,4,BHS,BHS,-99,BHS,-99,0,...,Caribbean,The Bahamas,-99,Sovereign country,044,BS,BHS,-99,-99,Feature
1,"[[[[-63.6645, 46.55001], [-62.9393, 46.41587],...",MultiPolygon,Can.,4,CAN,CAN,-99,CAN,-99,0,...,Northern America,Canada,-99,Sovereign country,124,CA,CAN,-99,-99,Feature
2,"[[[-89.14308041050332, 17.80831899664932], [-8...",Polygon,Belize,6,BLZ,BLZ,-99,BLZ,-99,0,...,Central America,Belize,-99,Sovereign country,084,BZ,BLZ,-99,-99,Feature
3,"[[[-82.96578304719736, 8.225027980985985], [-8...",Polygon,C.R.,4,CRI,CRI,-99,CRI,-99,0,...,Central America,Costa Rica,-99,Sovereign country,188,CR,CRI,-99,-99,Feature
4,"[[[-71.71236141629296, 19.714455878167357], [-...",Polygon,Dom. Rep.,9,DOM,DOM,-99,DOM,-99,0,...,Caribbean,Dominican Republic,-99,Sovereign country,214,DO,DOM,-99,-99,Feature

In [30]:
df2['properties.subunit'].head()

0           The Bahamas
1                Canada
2                Belize
3            Costa Rica
4    Dominican Republic
Name: properties.subunit, dtype: object

In [31]:
better_geo = df2[['geometry.coordinates','geometry.type','properties.continent','properties.subunit']]
better_geo.head()

,geometry.coordinates,geometry.type,properties.continent,properties.subunit
0,"[[[[-77.53466, 23.75975], [-77.78, 23.71], [-7...",MultiPolygon,North America,The Bahamas
1,"[[[[-63.6645, 46.55001], [-62.9393, 46.41587],...",MultiPolygon,North America,Canada
2,"[[[-89.14308041050332, 17.80831899664932], [-8...",Polygon,North America,Belize
3,"[[[-82.96578304719736, 8.225027980985985], [-8...",Polygon,North America,Costa Rica
4,"[[[-71.71236141629296, 19.714455878167357], [-...",Polygon,North America,Dominican Republic

In [32]:
better_geo['properties.subunit'] = better_geo['properties.subunit'].str.replace('United States of America', 'US')
better_geo['properties.subunit'] = better_geo['properties.subunit'].str.replace('United Kingdom', 'UK')
better_geo['properties.subunit'] = better_geo['properties.subunit'].str.replace('United Arab Emirates', 'UAE')

/Users/chikezieomeje/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/Users/chikezieomeje/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/chikezieomeje/.pyenv/versions/3.6.5/lib/python3.6/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [33]:
output_complete = pd.merge(output, better_geo[['geometry.coordinates','geometry.type','properties.subunit']], left_on='critic_cn', right_on='properties.subunit', how='left')
output_complete.head()

,critic_cn,properties.article,properties.headline,properties.color,geometry.coordinates,geometry.type,properties.subunit
0,Argentina,<div id='movie'><P> Spirited Away : 2 votes</p...,2 critic,#000066,"[[[[-65.5, -55.2], [-66.45, -55.25], [-66.9599...",MultiPolygon,Argentina
1,Australia,<div id='movie'><P> A Separation : 2 votes</p>...,4 critic,#000066,"[[[[145.39797814349484, -40.79254851660589], [...",MultiPolygon,Australia
2,Austria,<div id='movie'><P> Platform : 2 votes</p><p> ...,2 critic,#000066,"[[[16.979666782304037, 48.123497015976305], [1...",Polygon,Austria
3,Bangladesh,<div id='movie'><P> A Separation : 1 vote</p><...,1 critic,#000066,"[[[92.67272098182556, 22.041238918541254], [92...",Polygon,Bangladesh
4,Belgium,<div id='movie'><P> Amores Perros : 1 vote</p>...,1 critic,#000066,"[[[3.314971144228537, 51.345780951536085], [4....",Polygon,Belgium

In [34]:
output_complete.isnull().sum(axis =0)

critic_cn               0
properties.article      0
properties.headline     0
properties.color        0
geometry.coordinates    2
geometry.type           2
properties.subunit      2
dtype: int64

In [35]:
null_data = output_complete[output_complete.isnull().any(axis=1)]
null_data

,critic_cn,properties.article,properties.headline,properties.color,geometry.coordinates,geometry.type,properties.subunit
14,Hong Kong,<div id='movie'><P> 35 Shots of Rum : 1 vote</...,1 critic,#000066,NaN,NaN,NaN
27,Singapore,<div id='movie'><P> A Girl Walks Home Alone at...,2 critic,#000066,NaN,NaN,NaN

In [36]:
output_complete = output_complete.dropna(subset=['geometry.type'])

In [37]:
ok_json = json.loads(output_complete.to_json(orient='records'))

In [38]:
def process_to_geojson(file):
    geo_data = {"type": "FeatureCollection", "features":[]}
    for row in file:
        this_dict = {"type": "Feature", "properties":{}, "geometry": {}}
        for key, value in row.items():
            key_names = key.split('.')
            if key_names[0] == 'geometry':
                this_dict['geometry'][key_names[1]] = value
            if str(key_names[0]) == 'properties':
                this_dict['properties'][key_names[1]] = value
        geo_data['features'].append(this_dict)
    return geo_data

In [41]:
geo_format = process_to_geojson(ok_json)

In [40]:
with open('geo-data.js', 'w') as outfile:
    outfile.write("var infoData = ")
#geojson output
with open('geo-data.js', 'a') as outfile:
    json.dump(geo_format, outfile)